.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: black;
  background-size: cover;
  height: 100vh;
  padding-top: 40px;
}

.form-container {
  background-color: #272727;
  padding: 40px;
  width: 40%;
  border-radius: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-website-logo-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 15px;
}

.img-website-logo {
  height: 50px;
  width: 150px;
  text-align: center;
}

.button {
  border-radius: 10px;
  background-color: #4f46e5;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Roboto';
  cursor: pointer;
}

.label {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Roboto';
}

.input {
  border: 1px solid #7e858e;
  background-color: transparent;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 15px;
  border: 5px;
  color: #ffffff;
  width: 100%;
  height: 40px;
}

@media screen and (max-width) {
  .form-container {
    width: 100%;
  }

  .container {
    padding: 15px;
  }
}

.error-msg {
  color: #ff0b37;
  font-family: 'Roboto';
}
