.navbar-container {
  background-color: #272727;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(243, 243, 243);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: column;
  }
}

.nav-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .nav-menu-container {
    display: none;
  }
}

.nav-bar-text-container {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 24px;
  padding: 10px;
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

.home-icon {
  color: #ffffff;
  font-size: 200%;
}
.link {
  text-decoration: none;
}
.logout-btn {
  color: #ffffff;
  background-color: #4f46e5;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

/* desktop view */
@media screen and (min-width: 768px) {
  .home-icon {
    display: none;
  }

  .home-jobs-btn {
    display: none;
  }

  .nav-bar-home-icon {
    display: none;
  }
}

/* mobile view */
@media screen and (max-width: 767px) {
  .nav-text {
    display: none;
  }
  .home-icon {
    display: flex;
  }

  .logout-desktop-btn {
    display: none;
  }

  .header-logo {
    width: 100%;
    height: 100%;
  }
  .logo-container {
    width: 20%;
  }
  .home-job-container {
    width: 20%;
  }
  .home-jobs-btn {
    color: #ffffff;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    width: 120%;
    height: 100%;
    font-weight: bold;
    background-color: #4f46e5;
    cursor: pointer;
  }
}
